/* Add or modify these styles in your global CSS or stylesheet */
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pagination-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .pagination-container li{
    width: 50px;
    height: 50px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .pagination-page {
    /* margin: 0.5rem;
    padding: 0.25rem; */
    cursor: pointer;
  }
  
  .pagination-arrow {
    margin: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
  }